<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liskovsoft.smartyoutubetv2.tv">

    <permission
        android:name="${applicationId}.ACCESS_VIDEO_DATA"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.ACCESS_VIDEO_DATA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- NOTE: use older api -->
    <uses-sdk tools:overrideLibrary="
        androidx.leanback.preference,
        androidx.recommendation,
        org.xwalk.core,
        com.algolia.instantsearch.voice,
        androidx.leanback, androidx.tvprovider,
        com.github.rubensousa.previewseekbar,
        com.github.rubensousa.previewseekbar.exoplayer,
        com.google.android.exoplayer2.ext.leanback,
        com.google.android.exoplayer2.ext.vp9,
        com.google.android.exoplayer2.testutil,
        com.google.android.exoplayer2.ext.okhttp,
        com.google.firebase.crashlytics,
        com.google.firebase.iid"/>

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="com.liskovsoft.smartyoutubetv2.tv.ui.main.MainApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:banner="@mipmap/app_banner"
        android:logo="@mipmap/app_logo"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/App.Theme.Leanback.Browse"
        tools:node="merge"
        tools:replace="android:theme,android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity,UnusedAttribute">

        <!-- Screen Mirror (e.g. DIAL) for Amazon TV -->
        <!-- Not implemented yet( -->
        <!--<meta-data android:name="whisperplay" android:resource="@xml/whisperplay"/>-->

        <activity
            android:name="com.liskovsoft.smartyoutubetv2.tv.ui.main.SplashActivity"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <!-- Process intents from other apps -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="youtube.com"/>
                <data android:host="www.youtube.com"/>
                <data android:host="m.youtube.com"/>
                <data android:host="youtu.be"/>
                <data android:pathPattern=".*"/>
                <data android:host="search" android:scheme="youtube"/>
                <data android:host="play" android:scheme="youtube"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="vnd.youtube"/>
                <data android:scheme="vnd.youtube.launch"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.liskovsoft.smartyoutubetv2.tv.ui.browse.BrowseActivity"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.liskovsoft.smartyoutubetv2.tv.ui.channel.ChannelActivity"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.liskovsoft.smartyoutubetv2.tv.ui.channeluploads.ChannelUploadsActivity"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.liskovsoft.smartyoutubetv2.tv.ui.playback.PlaybackActivity"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:screenOrientation="landscape"
            android:theme="@style/App.Theme.Leanback.Player"/>

        <activity
            android:name="com.liskovsoft.smartyoutubetv2.tv.ui.search.regular.SearchActivity"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.liskovsoft.smartyoutubetv2.tv.ui.search.tags.SearchTagsActivity"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="landscape"/>

        <activity android:name="com.liskovsoft.smartyoutubetv2.tv.ui.onboarding.OnboardingActivity"
                  android:launchMode="singleInstance"
                  android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
                  android:screenOrientation="landscape"
                  android:theme="@style/Theme.Leanback.Onboarding"/>

        <activity android:name="com.liskovsoft.smartyoutubetv2.tv.ui.signin.SignInActivity"
                  android:launchMode="singleInstance"
                  android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
                  android:screenOrientation="landscape"
                  android:theme="@style/App.Theme.Leanback.GuidedStep"/>

        <activity android:name="com.liskovsoft.smartyoutubetv2.tv.ui.adddevice.AddDeviceActivity"
                  android:launchMode="singleInstance"
                  android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
                  android:screenOrientation="landscape"
                  android:theme="@style/App.Theme.Leanback.GuidedStep"/>

        <!-- noHistory is essential for dialogs. Because otherwise you'll see previous dialog content when opening. -->
        <activity android:name="com.liskovsoft.smartyoutubetv2.tv.ui.dialogs.AppDialogActivity"
                  android:noHistory="true"
                  android:launchMode="singleInstance"
                  android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
                  android:screenOrientation="landscape"
                  android:theme="@style/App.Theme.Leanback.Preferences"/>

        <!--

        <meta-data android:name="android.app.default_searchable"
            android:value="com.liskovsoft.smartyoutubetv2.tv.ui.details.VideoDetailsActivity"/>

        <activity
            android:name="com.liskovsoft.smartyoutubetv2.tv.ui.details.VideoDetailsActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.Details">
            
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        -->

        <!-- Begin Old activities -->

        <!--
        <activity
            android:name="com.liskovsoft.smartyoutubetv2.tv.old.ui.VerticalGridActivity"
            android:exported="true"
            android:parentActivityName="com.liskovsoft.smartyoutubetv2.tv.ui.browse.BrowseActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.VerticalGrid" />
        <activity
            android:name="com.liskovsoft.smartyoutubetv2.tv.old.ui.GuidedStepActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Example.Leanback.GuidedStep" />
        -->

        <!-- Provides search suggestions for keywords against video metadata. -->
        <!--
        <provider
            android:name=".old.data.VideoProvider"
            android:authorities="${packageName}"
            android:permission="${applicationId}.ACCESS_VIDEO_DATA"
            android:exported="true">
            <path-permission
                android:pathPrefix="/search"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>

        <activity android:name="com.liskovsoft.smartyoutubetv2.tv.old.ui.SettingsActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/App.Theme.Leanback.Preferences"
            />

        <activity
            android:name="com.liskovsoft.smartyoutubetv2.tv.old.ui.AuthenticationActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Example.Leanback.GuidedStep" />
        -->

        <!-- End Old activities -->
    </application>

</manifest>