[submodule "SharedUtils"]
	path = SharedUtils
	url = https://github.com/yuliskov/SharedUtils
[submodule "MediaServiceCore"]
	path = MediaServiceCore
	url = https://github.com/yuliskov/MediaServiceCore
