[submodule "SharedModules"]
	path = SharedModules
	url = https://github.com/vadimdolgachev/SharedModules
[submodule "MediaServiceCore"]
	path = MediaServiceCore
	url = https://github.com/vadimdolgachev/MediaServiceCore
