[submodule "SharedModules"]
	path = SharedModules
	url = https://github.com/yuliskov/SharedModules
[submodule "MediaServiceCore"]
	path = MediaServiceCore
	url = https://github.com/yuliskov/MediaServiceCore
