name: Main

on:
  push:
  pull_request:
    branches: ["**"]

jobs:
  Build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'
      - run: |
          chmod +x gradlew
          ./gradlew clean assembleStstableDebug
      - uses: actions/upload-artifact@v5.0.0
        with:
          path: ./smarttubetv/build/outputs/apk/ststable/debug/*.apk
      
      
